Django==1.10.6
beautifulsoup4==4.5.3
chardet==2.2.1
colorama==0.2.5
cssselect==1.0.1
html5lib==0.999
lxml==3.7.3
nltk==3.2.2
praw==4.4.0
prawcore==0.8.0
pycurl==7.19.3
pygobject==3.12.0
pyquery==1.2.17
python-apt==0.9.3.5ubuntu2
requests==2.13.0
six==1.5.2
tqdm==4.11.2
unattended-upgrades==0.1
update-checker==0.16
urllib3==1.7.1
wheel==0.24.0
wikiapi==1.2.5
