<!DOCTYPE html>
<html>

<head>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <meta charset='utf-8'>
    <title>Force layout test</title>
    <style>
        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }
        
        .link {
            stroke: #999;
            stroke-opacity: .6;
        }
        
        div.tooltip {
            position: absolute;
            text-align: center;
            padding: 5px;
            font: 8px;
            background: lightblue;
            border: 0px;
            border-radius: 8px 8px 8px 0px;
            pointer-events: none;
        }
    </style>
</head>

<body>
    <script src='http://d3js.org/d3.v3.min.js'></script>
    <script>
        d3.json("/relationships/ajax/", function(error, root) {
            if (error) {
                throw error;
            }
            var width = window.innerWidth - 20,
                height = window.innerHeight - 20;
            var color = d3.scale.category20();
            var force = d3.layout.force()
                .charge(-80)
                .linkDistance(30)
                .size([width, height]);
            var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height);
            var div = d3.select("body").append("div")
                .attr("class", "tooltip card")
                .style("opacity", 0);
            var graph = root;
            var nodeMap = {};
            graph.nodes.forEach(function(d) {
                nodeMap[d.name] = d;
            });
            graph.links.forEach(function(l) {
                l.source = nodeMap[l.source];
                l.target = nodeMap[l.target];
            })
            force.nodes(graph.nodes)
                .links(graph.links)
                .start();
            var link = svg.selectAll(".link")
                .data(graph.links)
                .enter().append("line")
                .attr("class", "link")
                .style("stroke-width", function(d) {
                    return 2;
                });
            var node = svg.selectAll(".node")
                .data(graph.nodes)
                .enter().append("circle")
                .attr("class", "node")
                .on("mouseover", function(d) {
                    div.transition()
                        .duration(100)
                        .style("opacity", 1);
                    div.html(d.name)
                        .style("left", (d3.event.pageX) +5 + "px")
                        .style("top", (d3.event.pageY) -40 + "px");
                })
                .on("mouseout", function(d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", 0);
                })
                .attr("r", function(d) {
                    if (d.weight < 5) {
                        return 4;
                    } else {
                        return d.weight * 1.2;
                    }
                })
                .style("fill", function(d) {
                    return color(Math.floor(Math.random() * 10) + 1);
                })
                .call(force.drag);
            force.on("tick", function() {
                link.attr("x1", function(d) {
                        return d.source.x;
                    })
                    .attr("y1", function(d) {
                        return d.source.y;
                    })
                    .attr("x2", function(d) {
                        return d.target.x;
                    })
                    .attr("y2", function(d) {
                        return d.target.y;
                    });
                node.attr("cx", function(d) {
                        return d.x;
                    })
                    .attr("cy", function(d) {
                        return d.y;
                    });
            });
        });
    </script>
    <div class="fixed-action-btn " style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue hoverable" href="http://milesbudden.com/">
            <i class="large material-icons">info_outline</i>
        </a>
    </div>
    <div style="bottom: 24px; left: 24px;position: absolute;">
        <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit1.gif" alt="submit to reddit" border="0" /> </a>
    </div>
</body>

</html>